<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="logFile" fileName="${basedir}/logs/${shortdate}.log"
               layout="${longdate} | ${pad:padding=5:inner=${level:uppercase=true}} | ${logger}: ${message}" />
    <target xsi:type="Console" name="logConsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="logConsole" />
  </rules>
</nlog>
